body {
    background-color: grey;
}
h1 {
    color: white;
}
.square {
    width: 200px;
    height: 200px;
    position: relative; left: 20px;
    margin-bottom: 20px;
    background-color: #fea500;
}